/*common start*/
body{
	font-family: ;
	font-size: 16px;
	font-weight: 400px;
	color: #0f2656;
}
/*common end*/
.container{
	width: 100%;
	overflow: hidden;

}
.logo{
	float: left;
	margin: 50px;
}
.logo img{
width: 170px;
height: 50px;
}
.menu{
	float: right;
	margin: 50px;
}
.menu ul li {
display: inline-block;
list-style: none;

}
.menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 30px;
	color: #000000;
}
.color{
background-color: yellow;
}
#oppo{
	background-color: green;
	text-align: center;
	color: white;
}
